click==8.0.3
docx==0.2.4
docx2txt==0.8 
keras==2.8.0
Keras-Preprocessing==1.1.2
matplotlib==3.5.2
pafy==0.5.5
palettable==3.3.0
pandas==1.4.2
pathy==0.6.1
patsy==0.5.2 
pyresparser==1.0.6
resume-parser==0.8.4
scikit-image==0.18.3
scikit-learn==1.0.2
srsly==1.0.5
statsmodels==0.12.2
stemming==1.0.1
streamlit==1.10.0
streamlit-aggrid==0.2.3.post2
streamlit-lottie==0.0.3
streamlit-option-menu==0.3.2
streamlit-tags==1.2.8
tensorflow==2.8.0
pyparsing==3.0.4
base64==1.2.2
random==1.0.1
time==0.3.0
datetime==4.4
pdfminer3==2.4.0
io==0.2.6
pyodbc==4.0.0
pafy==0.5.5
plotly==1.16.0
spacy==0.4.4
st_aggrid==0.2.3
os==2.1.4